.hero {
  width: 100%;
  display: flex;
  padding: 30px;
  padding-top: 100px;
}

.hero_image {
  width: 300px;
  left: 200px;
  object-fit: contain;
  padding-right: 100px;
}

.hero_bio {
  position: fixed;
  right: 30px;
}
