.hero_container {
  width: 100%;
  display: flex;
  padding: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero_image_container {
  padding-top: 100px;
}

.hero_image {
  width: 300px;
  object-fit: contain;
}

.hero_bio {
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  margin-right: 50px;
  right: 30px;
}
