.nav_container {
  display: flex;
  justify-content: center;
  padding: 15px 10%;
  align-items: center;
  background-color: #30e3ca;
}

.nav_logo {
  cursor: pointer;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
}

.nav_logo:hover {
  color: #a2f0e5;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  padding: 20px;
  color: inherit;
  font-size: small;
}

.nav_links li a:hover {
  color: aliceblue;
}

.nav_account {
  width: 20px;
  border-radius: 50%;
}

button {
  margin-left: 20px;
  padding: 2px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  background: none;
}

button:hover {
  background-color: aliceblue;
}

.nav_account {
  width: 40px;
  object-fit: 40px;
  border-radius: 50%;
}
